<p <strong><font color="<%= text_color %>">Paragraph made of lines, First line.<br>
Second Line.<br>
Third Line.<br>
<br>
New paragraph. Lines can be as long as you need, if you want a continuous wrap of text instead of individual centred lines.</font></u></strong></p>
<br>
<p <strong><font color="<%= highlight_color %>">Some text or paragraph you want highlighted.</font></u></strong></p>
<br>
<p <strong><font color="<%= text_color %>">Even more text if needed.</font></u></strong></p>