{
  "server": {
    "listening_port": 7777,
    "session_key": "9kB2K)8uLdDT6xV5Azh#^SU[m4zKB]C;LxM*AfOS$ccJK9*axB",
    "site_name": "Your site name",
    "site_url": "https://yourdomain.site",
    "time_zone": "America/Toronto",
    "tz_text": "Eastern Time",
    "tz_locale": "en-US"
  },
  
  "maintenance": {
    "on_startup": false,
    "timeout": 250,
    "times": ["00:05:00", "06:05:00", "12:05:00", "18:05:00"]
  },

  "database": {
    "host": "127.0.0.1",
    "port": 3306,
    "username": "",
    "password": "",
    "name": "stripewall"
  },

  "qbo": {
    "enabled": true,
    "consumerKey": "alphanumeric Key",
    "consumerSecret": "alphanumeric Key",
    "realmId": "numeric ID",
    "sandbox": false,
    "debug": false
  },

  "discord": {
    "client_id": "000000000000000000",
    "client_secret": "your client secret",
    "bot_token": "your bot token",
    "redirect_url": "https://yourdomain.site/login",
    "guild_id": "000000000000000000",
    "lifetime_role": "",
    "inactive_lifetime_role": "",
    "log_channel": "000000000000000000",
    "welcome_channel": "000000000000000000",
    "purchase_welcome": "Thank You For Your Purchase, %usertag%! First Time User? Return to your browser and vote for your service zones to gain full access! If you have closed it, [Click Here](%site_url%) and log in again!",
    "donation_welcome": "Thank You For Your Donation, %usertag%! Check your DM's for any vote updates or just [Log In Here](%site_url%) if you closed the page!",
    "status_type": "WATCHING",
    "status_text": "for subscribers",
    "fetch_bans": true,
    "blacklist": []
  },

  "service_zones": {
    "zones_enabled": true,
    "init_source": "geofence.json",
    "new_zone_form": "",
    "roles_enabled": false,
    "votes_enabled": false,
    "vote_worth": 0,
    "workers": 0
  },

  "pages": {
    "general":{
      "terms": "Do not redistribute scanned data. The sole exception being Raids you plan to attend ONLY. Doing so will result in immediate revokation of all access.",
      "disclaimer": "We are not associated with Niantic, ThePokemonCompany, Nintendo, or any related subsidiaries.",
      "warning": "All services are subject to downtimes for various reasons. Please monitor the Discord Server for Updates.",
      "background": "https://i.imgur.com/lOllpRn.png",
      "outer_background": "white",
      "border_color": "FF0000",
      "title_color": "black",
      "text_color": "red"
    },
    "manage": {
      "product_intro": "Choose your preferred billing frequency and commitment below to get started. A Valid <Country> address & payment method are required. Applicable taxes will be calculated and added during checkout. Thank you for your support!",
      "donation_intro": "Donate below to increase votes and help maintain and improve services!",
      "active_life_intro": "Your services are currently activated. Press the button below to deactivate services.",
      "inactive_life_intro": "Your services are currently deactivated. Press the button below to reactivate services.",
      "success_url": "https://yourdomain.site/manage",
      "cancel_url": "https://yourdomain.site/manage",
      "return_url": "https://yourdomain.site/manage"
    },
    "blocked": {
      "background": "https://i.imgur.com/uNBScc6.png",
      "outer_background": "white",
      "border_color": "000000",
      "title_color": "black",
      "button_link": "https://letmegooglethat.com/?q=a+map+you+didn%27t+piss+off",
      "button_text": "Good Luck!"
    }
  },

  "stripe": {
    "live_pk": "your live keys",
    "live_sk": "your live keys",
    "wh_secret": "",
    "service_product_descriptor": "YOUR-SERVICE-DESCRIPTOR",
    "donation_product_descriptor": "YOUR-DONATION-DESCRIPTOR",
    "radar_script": false,
    "addresses": {
      "billing": false,
      "shipping": ["2 Letter Codes","empty array if not using"]
    },
    "taxes": {
      "active": false,
      "automatic": false,
      "dynamic": false,
      "rate_ids": ["txr_","empty array if not using"],
      "rate_maps": [
        {
          "jurisdiction": ["NB","NL","NS","PE"],
          "tax_rate": 0.15
        },
        {
          "jurisdiction": ["ON"],
          "tax_rate": 0.13
        },
        {
          "jurisdiction": ["AB","BC","MB","NT","NU","QC","SK","YT"],
          "tax_rate": 0.05
        }
      ]
    },
    "price_ids": [
      {
        "id": "price_",
        "role_id": "000000000000000000",
        "mode": "payment",
        "expiry": 2629743,
        "title": "One Month Pay-As-You-Go Access"
      },
      {
        "id": "price_",
        "role_id": "000000000000000000",
        "mode": "subscription",
        "title": "Monthly Subscription"
      },
      {
        "id": "price_",
        "role_id": "000000000000000000",
        "mode": "legacy"
      }
    ],
    "donation_ids": [
      {
        "id": "price_",
        "role_id": "",
        "mode": "payment",
        "title": "One-Time Donation"
      },
      {
        "id": "price_",
        "role_id": "",
        "mode": "subscription",
        "title": "Monthly Subscription Donation"
      }
    ]
  }
}