<%- include('./includes/head.ejs') %>

<div class="rcorners1 background">
    <center>
      <div>
        <div>
            <br>
          <h1><font color="white">Welcome <%= username %> </font></h1>
          <p><strong><font color="white">Description of services</font></strong></p>
        </div>
        <div>
            <form method="POST">
                <input name="userid" type="hidden" value="<%= userid %>"
                <h3><font color="white">Review Terms of Service</font></h3>
                <div>
                    <input type="checkbox" onclick="agreeButton()" id="terms" name="agree" value="1">
                    <label><strong><font color="white">I have read the <span style="cursor: pointer;" onclick="showHideTerms()"><b><u>terms of service</u></b></font></strong></span></label>
                    <p id="termtext" style="display: none;"><strong><font color="white">Terms of service text</font></u></strong></p>
                </div>
                <br>
                <input name="agree" id="agreebtn" disabled type="submit" value="I Agree">
            </form>
        </div>
    </center>
</div>
<script>
    function showHideTerms() {
        var x = document.getElementById("termtext");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function agreeButton()
    {
        if (document.getElementById('terms').checked) {
            document.getElementById('agreebtn').disabled = false;
        } else {
            document.getElementById('agreebtn').disabled = true;
        }
    }
</script>
<%- include('./includes/end.ejs') %>