<?php

//-----------------------------------------------------
// OAUTH / STRIPE CONFIGS
//-----------------------------------------------------
$oc=array(
  'DB_HOST'=>'?',
  'DB_USERNAME'=>'?',
  'DB_PASSWORD'=>'?',
  'DB_DATABASE'=>'?'
);
$login_url = 'https://<yourmapurl.com>/login'; // MUST USE /LOGIN
