listening_port = 7777

// Session Key to encrypt the session information. You can change this to any string you would like or leave it default.
session_key = P4^$535@6cy%OwjSq2^992Z@E!w#36wUoxpSj1SnWCfy&aNt1t

// OPEN MAP. REMOVES DONOR ROLE REQUIREMENT
open_map = true

// MAP DETAILS AND URLS
map_name = YourPokéMap
map_url = https://yourmap.com
redirect_url = https://yourmap.com/login
subscribe_url = https://yourmap.com/subscribe

// DONOR ROLE ID FOR ACCESS
donor_role_id =

// YOUR GUILD ID
guild_id =

// DONOR CHANNEL AND WELCOME CONFIGS
donor_channel_id =
donor_welcome = true
donor_welcome_content = Welcome and Thank You, %usertag%!

// MAP ACCESS DISCORD LOGGING
map_log = false
map_log_channel =

// USER GUILDS DISCORD LOG
guild_log = false
guild_log_channel =

// STRIPE DISCORD LOG
stripe_log = true
stripe_log_channel =

// ACCESS BLACKLIST (Separate IDs with a Comma or delete fully)
fetch_bans = true
blacklist = ID,ID,ID

// DATABASE CREDENTIALS
db_host =
db_port = 3306
db_username =
db_password =
db_name = rdmdb

// OAUTH DETAILS
[OAUTH2]
client_id =
client_secret =
bot_token =
scope = identify,email,guilds,guilds.join // DO NOT ALTER

// STRIPE DETAILS
[STRIPE]
plan_id =  # Looks like plan_EdfhgdfjhhghV (old API) or price_EdfhgdfjhhghV (current API)
plan_name =  # Your name for the subsciption
plan_cost = 500 # Plan cost in cents
live_pk = pk_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
live_sk = sk_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

// CREATE TABLE oauth_users (
//  `user_id` varchar(255) NOT NULL,
//  `user_name` varchar(255) NOT NULL,
//  `last_login` varchar(255) DEFAULT NULL,
//  `map_name` varchar(255) NOT NULL,
//  `map_guild` varchar(255) NOT NULL,
//  `stripe_id` varchar(255) DEFAULT NULL,
//  `plan_id` varchar(255) DEFAULT NULL,
//  `guilds` longtext DEFAULT NULL,
//  `email` varchar(255) DEFAULT NULL,
//  `access_token` varchar(255) DEFAULT NULL,
//  `refresh_token` varchar(255) DEFAULT 'NULL',
//  `token_expiration` varchar(255) DEFAULT NULL,
//  `last_updated` varchar(255) DEFAULT 'NULL',
//  PRIMARY KEY (`user_id`,`map_guild`)
// );
//
// CREATE TABLE oauth_authorization (
//  `user_id` varchar(255) NOT NULL,
//  `expire_timestamp` varchar(255) NOT NULL,
//  `ip` varchar(255) DEFAULT NULL,
//  `guild` varchar(255) NOT NULL,
//  PRIMARY KEY (`user_id`,`guild`)
// );
//
// CREATE TABLE oauth_fingerprints (
//  `user_id` varchar(255) NOT NULL,
//  `user_name` varchar(255) NOT NULL,
//  `ip_address` varchar(255) NOT NULL,
//  `fingerprint` varchar(255) NOT NULL,
//  `map_name` varchar(255) NOT NULL,
//  `map_guild` varchar(255) NOT NULL,
//  `device` varchar(20) NOT NULL,
//  PRIMARY KEY (`user_id`,`ip_address`,`fingerprint`)
// );
//
// CREATE TABLE oauth_queue (
//  `user_id` varchar(255) NOT NULL,
//  `guild_id` varchar(255) NOT NULL,
//  `last_login` varchar(255) NOT NULL,
//  `token` varchar(255) NOT NULL,
//  `inserted` varchar(255) NOT NULL,
//  PRIMARY KEY (`user_id`)
// );
