{
  "listening_port": 7777,
  "session_key": "9kB2K)8uLdDT6xV5Azh#^SU[m4zKB]C;LxM*AfOS$ccJK9*axB",
  "map_name": "Your Map Name",
  "map_url": "https://your.site",
  "redirect_url": "https://your.site/login",
  "guild_id": "000000000000000000",
  "donor_channel_id": "000000000000000000",
  "donor_welcome": true,
  "donor_welcome_content": "Thank You For Subscribing, %usertag%!",

  "log_channel": "000000000000000000",

  "fetch_bans": true,
  "blacklist": ["000000000000000000","empty if not using"],

  "db_host": "127.0.0.1",
  "db_port": 3306,
  "db_username": "dbuser",
  "db_password": "dbpass",
  "db_name": "dbname",

  "oauth2": {
    "client_id": "000000000000000000",
    "client_secret": "your client secret",
    "bot_token": "your bot token",
    "scope": "identify,email,guilds,guilds.join"
  },

  "pages": {
    "general":{
      "terms": "Do not redistribute scanned data. The sole exception being Raids you plan to attend ONLY. Doing so will result in immediate revokation of all access.",
      "warning": "All services are subject to downtimes for various reasons. Please monitor the Discord Server for Updates."
    },
    "checkout": {
      "welcome": "Choose your preferred billing frequency below to get started. Applicable taxes will be calculated and added during checkout. Thank you for your support!"
    }
  },

  "stripe": {
    "live_pk": "your live keys",
    "live_sk": "your live keys",
    "addresses": {
      "billing": false,
      "shipping": ["2 Letter Codes","delete array and set false if not using"]
    },
    "taxes": {
      "active": false,,
      "automatic": false,
      "dynamic": false,
      "rate_ids": ["txr_","empty if not using"]
    },
    "plan_ids": [
      {
        "id": "price_ or plan_ ",
        "price": "5.00",
        "donor_role_id": "000000000000000000",
        "frequency": "Monthly Subscription",
        "mode": "subscription"
      },
      {
        "id": "price_ or plan_ ",
        "price": "50.00",
        "donor_role_id": "000000000000000000",
        "frequency": "Annual Subscription",
        "mode": "subscription"
      },
      {
        "id": "price_ or plan_ ",
        "price": "10.00",
        "donor_role_id": "000000000000000000",
        "frequency": "30 Days (No Commitment)",
        "mode": "payment"
      }
    ]
  }
}