{
  "listening_port": 7777,
  "session_key": "9kB2K)8uLdDT6xV5Azh#^SU[m4zKB]C;LxM*AfOS$ccJK9*axB",
  "map_name": "Your map name",
  "map_url": "https://yourmap.site",
  
  "sync": {
    "stripe": ["00:05:00", "06:05:00", "12:05:00", "18:05:00"],
    "discord": ["00:35:00", "06:35:00", "12:35:00", "18:35:00"]
  },

  "database": {
    "host": "127.0.0.1",
    "port": 3306,
    "username": "",
    "password": "",
    "name": "stripewall"
  },
  
  "discord": {
    "client_id": "000000000000000000",
    "client_secret": "your client secret",
    "bot_token": "your bot token",
    "redirect_url": "https://yourmap.site/login",
    "guild_id": "000000000000000000",
    "log_channel": "000000000000000000",
    "donor_welcome": true,
    "donor_welcome_channel": "000000000000000000",
    "donor_welcome_content": "Thank You For Subscribing, %usertag%!",
    "fetch_bans": true,
    "blacklist": []
  },

  "pages": {
    "general":{
      "terms": "Do not redistribute scanned data. The sole exception being Raids you plan to attend ONLY. Doing so will result in immediate revokation of all access.",
      "warning": "All services are subject to downtimes for various reasons. Please monitor the Discord Server for Updates."
    },
    "checkout": {
      "welcome": "Choose your preferred billing price_title below to get started. Applicable taxes will be calculated and added during checkout. Thank you for your support!"
    },
    "expiry": {
      "time_zone": "America/Toronto",
      "tz_text": "Eastern Time"
    }
  },

  "stripe": {
    "live_pk": "your live keys",
    "live_sk": "your live keys",
    "wh_secret": "",
    "addresses": {
      "billing": false,
      "shipping": ["2 Letter Codes","delete array and set false if not using"]
    },
    "taxes": {
      "active": false,,
      "automatic": false,
      "dynamic": false,
      "rate_ids": ["txr_","empty if not using"]
    },
    "price_ids": [
      {
        "id": "price_",
        "price": "5.00",
        "donor_role_id": "000000000000000000",
        "price_title": "Monthly Subscription",
        "mode": "subscription"
      },
      {
        "id": "price_",
        "price": "50.00",
        "donor_role_id": "000000000000000000",
        "price_title": "Annual Subscription",
        "mode": "subscription"
      },
      {
        "id": "price_",
        "price": "10.00",
        "donor_role_id": "000000000000000000",
        "price_title": "One Month Access",
        "mode": "payment"
      }
    ]
  }
}