server {

<<Your Existing Site Config>> Can be a map or generic page, as long as these locations aren't in use (check subfolders)

    location /login {
        proxy_pass http://localhost:7779/login;
    }

    location /checkout {
        proxy_pass http://localhost:7779/checkout;
    }

    location /create-checkout-session {
        proxy_pass http://localhost:7779/create-checkout-session;
    }

    location /manage {
        proxy_pass http://localhost:7779/manage;
    }

    location /unsubscribe {
        proxy_pass http://localhost:7779/manage;
    }

    location /webhook {
        proxy_pass http://localhost:7779/webhook;
    }

    location /blocked {
        proxy_pass http://localhost:7779/blocked;
    }

    location /discord {
        rewrite ^/discord(.*) https://discord.gg/INVITE permanent;
    }
        
}