server {

<<Your Existing Site Config>> Recommend site root but any subdomain will do, as long as these locations aren't in use (check subfolders/rewrites/redirects etc). May interfere with existing maps if put on those.

    location /login {
        proxy_pass http://localhost:7777/login;
    }

    location /checkout {
        proxy_pass http://localhost:7777/checkout;
    }

    location /expiry {
        proxy_pass http://localhost:7777/expiry;
    }

    location /create-checkout-session {
        proxy_pass http://localhost:7777/create-checkout-session;
    }

    location /create-customer-portal-session {
        proxy_pass http://localhost:7777/create-customer-portal-session;
    }

    location /manage {
        proxy_pass http://localhost:7777/manage;
    }

    location /unsubscribe {
        proxy_pass http://localhost:7777/manage;
    }

    location /webhook {
        proxy_pass http://localhost:7777/webhook;
    }

    location /blocked {
        proxy_pass http://localhost:7777/blocked;
    }

    location /discord {
        rewrite ^/discord(.*) https://discord.gg/INVITE permanent;
    }
        
}