server {
    listen 443;
    ssl    on;
    ssl_certificate    /path/to/certs.pem;
    ssl_certificate_key    /path/to/certs.key;
    server_name www.yoursite.com;
    return 301 $scheme://yoursite.com$request_uri;
}

server {
    listen 443;
    ssl    on;
    ssl_certificate    /path/to/certs.pem;
    ssl_certificate_key    /path/to/certs.key;
    server_name yoursite.com;

    # Some Basic lockdown of folders and files
    # Lock folders
    location ~ /(\.|cron|lib|LICENSE|config|scripts)
    {
        return 444;
    }
    # Lock Extensions
    location ~* \.(conf|md|sql|sh|back|backup)
    {
        return 444;
    }

    rewrite ^/raw_data$ /raw_data.php?$1 last;
    rewrite ^/gym_data$ /gym_data.php?$1 last;
    rewrite ^/motd_data$ /motd_data.php?$1 last;
    rewrite ^/submit /submit.php?$1 last;
    rewrite ^/search /search.php?$1 last;
    rewrite ^/weather_data$ /weather_data.php?$1 last;
    rewrite ^/serviceWorker.min.js$ /static/dist/js/serviceWorker.min.js last;
    rewrite ^/user$ /user.php?$1 last;
    rewrite ^/discord-login$ /discord-login.php?$1 last;

    error_log /var/log/nginx/main.error.log warn;
    access_log /var/log/nginx/main.access.log;

    location / {
    include /etc/nginx/mime.types;
        root /path/to/PMSF;
        index oauth.php index.html index.htm;
    }

    error_page 404 /404.html;
    location = /404.html {
        root /usr/share/nginx/html;
    }

    location ~ \.php$ {
        root /path/to/PMSF;
        try_files $uri =404;
        fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
        fastcgi_index oauth.php;
        fastcgi_param HTTP_IF_NONE_MATCH $http_if_none_match;
        fastcgi_param HTTP_IF_MODIFIED_SINCE $http_if_modified_since;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    location ~ /\.ht {
        deny all;
    }

    location /login {
        proxy_pass http://localhost:7777/login;
    }

    location /subscribe {
        proxy_pass http://localhost:7777/subscribe;
    }

    location /unsubscribe {
        proxy_pass http://localhost:7777/subscribe;
    }

    location /unsubscribed {
        proxy_pass http://localhost:7777/unsubscribed;
    }

    location /success {
        proxy_pass http://localhost:7777/success;
    }

    location /webhook {
        proxy_pass http://localhost:7777/webhook;
    }

    location /fp {
        proxy_pass http://localhost:7777/fp;
    }

    location /device {
        proxy_pass http://localhost:7777/device;
    }

    location /error {
        proxy_pass http://localhost:7777/error;
    }

    location /blocked {
        proxy_pass http://localhost:7777/blocked;
    }

    location /discord {
        rewrite ^/discord(.*) https://discord.gg/INVITE permanent;
    }
        
}

